In [ ]:
a = 10
print(a)
print(type(a)) 
print(a, type(a))

In [ ]:
a = 10 
print("The type of variable having value ", a ," is ", type(a) ,"")

In [ ]:
a = 2.5e4
print(a, type(a))

In [ ]:
a = 5
b = float(a)
print(b, type(b))

In [ ]:
c = 7.0
d = int(c)
print(d, type(d))

In [ ]:
mg_list = [1, 2, 3, 4, 5]
print(mg_list, type(mg_list))

In [ ]:
mg_list = [1, 2, 3, 4, 5]
print(mg_list[3])

In [ ]:
mg_list = [1, 2, 'Car', True, 5]
print(mg_list, type(mg_list))

In [ ]:
mg_list = [1, 2, 'Car', True, 5]
print("Length of the mg_list is ", len(mg_list))

In [ ]:
mg_list = [1, 2, 'Car', True, 5]
print(mg_list[-2])

In [ ]:
mg_list = [1, 2, 'Car', True, 5]
print(mg_list[1:4], type(mg_list[1:4]))

In [ ]:
mg_list = [1, 2, 'Car', True, 5]
print(mg_list[:3], type(mg_list[:3]))

In [ ]:
mg_list = [1, 2, 'Car', True, 5]
print(mg_list[2:], type(mg_list[2:]))

In [ ]:
# Exercise 

mg_list = [10, 5, 'Cat', "Dog", True]
mg_list[1:3] = "Parrot", 17.0
print(mg_list)

In [ ]:
mg_list = [10, 5, 'Cat', "Dog", True]
mg_list.insert(2, "Bat")
print(mg_list, len(mg_list))

In [ ]:
mg_list = [10, 5, 'Cat', "Dog", True]
mg_list.append("Bat")
print(mg_list, len(mg_list))

In [ ]:
mg_list = [10, 5, 'Cat', "Dog", True]
mg_list_1 = ["Parrot", False]
mg_list.extend(mg_list_1)
print(mg_list, len(mg_list))

In [ ]:
mg_list = [10, 5, 'Cat', "Dog", True]
del mg_list[2]
print(mg_list, len(mg_list))

In [62]:
mg_list = ["grapes", "apple", "orange", "pineapple", "banana"]
mg_list.sort()
print(mg_list, len(mg_list))

['apple', 'banana', 'grapes', 'orange', 'pineapple'] 5

In [61]:
mg_list = ["Grapes", "apple", "orange", "pineapple", "banana"]
mg_list.sort()
print(mg_list, len(mg_list))

['Grapes', 'apple', 'banana', 'orange', 'pineapple'] 5

In [63]:
mg_list = ["Grapes", "apple", "orange", "pineapple", "banana"]
mg_list.sort(key=str.lower)
print(mg_list, len(mg_list))

['apple', 'banana', 'Grapes', 'orange', 'pineapple'] 5

In [64]:
mg_list = ["Grapes", "apple", "orange", "pineapple", "banana"]
mg_list.sort(reverse=True)
print(mg_list, len(mg_list))

['pineapple', 'orange', 'banana', 'apple', 'Grapes'] 5

In [79]:
# Exercise

my_list = [12, 10, 13, 4, 1, 5]
my_list_2 = [6, 1, 7, 8, 10]

my_list_3 = my_list + my_list_2

print(my_list_3)

sorted_list = sorted(my_list_3)
print("Sorted list is ", sorted_list)
n = len(sorted_list)

# Median of my_list
median = (sorted_list[n // 2] + sorted_list[n // 2 - 1]) / 2 if n % 2 == 0 else sorted_list[n // 2]
print("Median of my_list is ", median)

# Q1
Q1 = (sorted_list[n // 4] + sorted_list[(n // 4) - 1]) / 2 if n % 4 == 0 else sorted_list[n // 4]
print("Q1 of my_list is ", Q1)

# Q3
Q3 = (sorted_list[3 * n // 4] + sorted_list[3 * n // 4 - 1]) / 2 if n % 4 == 0 else sorted_list[3 * n // 4]
print("Q2 of my_list is ", Q3)

[12, 10, 13, 4, 1, 5, 6, 1, 7, 8, 10]
Sorted list is  [1, 1, 4, 5, 6, 7, 8, 10, 10, 12, 13]
Median of my_list is  7
Q1 of my_list is  4
Q2 of my_list is  10

In [3]:
response_code = 203

match response_code:
    case 200:
        print("OK")
    case 201:
        print("Created")
    case 404:
        print("404 Not Found")
    case 500:
        print("Internal Server Error")
    case _:
        print("Somthing Else")

Somthing Else

In [4]:
number = [4, 5, 7]

match number:
    case [x, y]:
        print(x * y)
    case [x, y, z]:
        print(x + y + z)
    case _:
        print("The list not contain correct value")

16

In [9]:
example = [1,6]

match example.__len__():
    case 1:
        print("The list contain only one element")
    case 2:
        print("The list contain two elements")
    case 0:
        print("The list is empty")
    case _:
        print("Somthing else")

The list contain two elements

In [12]:
fruits = ["apple", "banana", "cherry"]

for fruit in fruits:
    print(fruit)

apple
banana
cherry

In [13]:
numbers = [7, 5, 8, 4, 9, 12]

squre_numbers = []
for number in numbers:
    squre_numbers.append(number ** 2)

print(squre_numbers)

[49, 25, 64, 16, 81, 144]

In [23]:
user_input = int(input("Enter a input: "))
get_numbers = []

for number in range(1, user_input + 1):
    get_numbers.append(number ** 2)

print(get_numbers)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [24]:
numbers = [2, 12, 9, 8]

result = [number ** 2 for number in numbers]

print(result)

[4, 144, 81, 64]

In [26]:
numbers = [8, 12, -1, 5, 4, 0, -8]

result = [number for number in numbers if number > 0]

print(result)

[8, 12, 5, 4]

In [ ]:
user_input = int(input("Enter a input: "))

squre_numbers = []
x = 1

while x ** 2 <= user_input:
    squre_numbers.append(x ** 2)
    x = x + 1
    
print(squre_numbers)

[1, 4, 9, 16, 25]

In [1]:
my_list = [8, 9, 3, 0, 12, 15]

for item in my_list:
    if item == 0:
        break
    else:
        print(item)

8
9
3

In [2]:
my_list = [8, 9, 3, 0, 12, 15]

for item in my_list:
    if item == 0:
        continue
    else:
        print(item)

8
9
3
12
15

In [3]:
while True:
    user_input = int(input("Enter a input: "))
    if user_input == 0:
        break
    else:
        print(user_input ** 2)

100
25
64
81

In [4]:
personal = {
    "Name": "Kavindu",
    "Age": 21,
}

for key in personal:
    print(key, ":" , personal[key])

Name : Kavindu
Age : 21

In [6]:
def calculate_circunfurance(width, height):
    return width * height

calculate_circunfurance(10, 20)

200

In [ ]:
def calculate_area(radius):
    return 3.14 * radius ** 2

calculate_area(5)

78.5

In [11]:
def add_numbers(a, b = 5):
    return a + b

add_numbers(5)

10

In [ ]:
def add_numbers(a , c, b = 5):
    return a + b

add_numbers(70,25,25)

# default arguments must follow non-default arguments.
# This means that you cannot have a parameter with a default value (c = 2) before a parameter without a default value (b).

95

In [ ]:
# Positional Arguments
def calculate_number(a ,b ):
    return a + b

calculate_number(10, 50)

60

In [ ]:
def add_numbers(a, b):
    return a + b

add_numbers(b = 5, a = 2)

In [5]:
def calculate_cost(price, quantity, discount, tax_rate):
    return price * quantity * (1 - discount) * (1 + tax_rate)

print("Total cost : ", calculate_cost(500, 10, 0.1, 0.05))

Total cost :  4725.0

In [11]:
mg_str = '''1. This is a multiline string,
2. This is a multiline string,
3. This is a multiline string,'''
            
print(mg_str)

1. This is a multiline string,
2. This is a multiline string,
3. This is a multiline string,

In [13]:
my_str = "Hello, World!"
print(len(my_str))
print(my_str[4])
print(my_str[2:8])

13
o
llo, W

In [ ]:
# Write a  pytho function called "summerise_grades" that accept a student name as a mandatory arguments and an abitary number of grade scores.the function should , 
# 1. print the students name
# 2. calculate and print the highest grade lowest grade and the avarage grade from the provided scores
# 3. If no grades are provided you should print no grades available

def summerise_grades(student_name, *grades):
    print(f"Student Name: {student_name}")
    
    if grades:
        highest_grade = max(grades)
        lowest_grade = min(grades)
        average_grade = sum(grades) / len(grades)
        
        print(f"Highest Grade: {highest_grade}")
        print(f"Lowest Grade: {lowest_grade}")
        print(f"Average Grade: {average_grade:.2f}")
    else:
        print("No grades available")

summerise_grades("Kavindu Malshan", 85, 92, 78, 90)
print("")
summerise_grades("Kavindu")

Student Name: Kavindu Malshan
Highest Grade: 92
Lowest Grade: 78
Average Grade: 86.25
Student Name: Kavindu
No grades available