In [5]:
a = 10
print(a)
print(type(a)) 
print(a, type(a))

10
<class 'int'>
10 <class 'int'>

In [6]:
a = 10 
print("The type of variable having value ", a ," is ", type(a) ,"")

The type of variable having value  10  is  <class 'int'>

In [7]:
a = 2.5e4
print(a, type(a))

25000.0 <class 'float'>

In [8]:
a = 5
b = float(a)
print(b, type(b))

5.0 <class 'float'>

In [9]:
c = 7.0
d = int(c)
print(d, type(d))

7 <class 'int'>

In [10]:
mg_list = [1, 2, 3, 4, 5]
print(mg_list, type(mg_list))

[1, 2, 3, 4, 5] <class 'list'>

In [11]:
mg_list = [1, 2, 3, 4, 5]
print(mg_list[3])

4

In [12]:
mg_list = [1, 2, 'Car', True, 5]
print(mg_list, type(mg_list))

[1, 2, 'Car', True, 5] <class 'list'>

In [13]:
mg_list = [1, 2, 'Car', True, 5]
print("Length of the mg_list is ", len(mg_list))

Length of the mg_list is  5

In [14]:
mg_list = [1, 2, 'Car', True, 5]
print(mg_list[-2])

True

In [15]:
mg_list = [1, 2, 'Car', True, 5]
print(mg_list[1:4], type(mg_list[1:4]))

[2, 'Car', True] <class 'list'>

In [16]:
mg_list = [1, 2, 'Car', True, 5]
print(mg_list[:3], type(mg_list[:3]))

[1, 2, 'Car'] <class 'list'>

In [17]:
mg_list = [1, 2, 'Car', True, 5]
print(mg_list[2:], type(mg_list[2:]))

['Car', True, 5] <class 'list'>

In [18]:
# Exercise 

mg_list = [10, 5, 'Cat', "Dog", True]
mg_list[1:3] = "Parrot", 17.0
print(mg_list)

[10, 'Parrot', 17.0, 'Dog', True]

In [19]:
mg_list = [10, 5, 'Cat', "Dog", True]
mg_list.insert(2, "Bat")
print(mg_list, len(mg_list))

[10, 5, 'Bat', 'Cat', 'Dog', True] 6

In [20]:
mg_list = [10, 5, 'Cat', "Dog", True]
mg_list.append("Bat")
print(mg_list, len(mg_list))

[10, 5, 'Cat', 'Dog', True, 'Bat'] 6

In [21]:
mg_list = [10, 5, 'Cat', "Dog", True]
mg_list_1 = ["Parrot", False]
mg_list.extend(mg_list_1)
print(mg_list, len(mg_list))

[10, 5, 'Cat', 'Dog', True, 'Parrot', False] 7

In [22]:
mg_list = [10, 5, 'Cat', "Dog", True]
del mg_list[2]
print(mg_list, len(mg_list))

[10, 5, 'Dog', True] 4

In [23]:
mg_list = ["grapes", "apple", "orange", "pineapple", "banana"]
mg_list.sort()
print(mg_list, len(mg_list))

['apple', 'banana', 'grapes', 'orange', 'pineapple'] 5

In [24]:
mg_list = ["Grapes", "apple", "orange", "pineapple", "banana"]
mg_list.sort()
print(mg_list, len(mg_list))

['Grapes', 'apple', 'banana', 'orange', 'pineapple'] 5

In [25]:
mg_list = ["Grapes", "apple", "orange", "pineapple", "banana"]
mg_list.sort(key=str.lower)
print(mg_list, len(mg_list))

['apple', 'banana', 'Grapes', 'orange', 'pineapple'] 5

In [26]:
mg_list = ["Grapes", "apple", "orange", "pineapple", "banana"]
mg_list.sort(reverse=True)
print(mg_list, len(mg_list))

['pineapple', 'orange', 'banana', 'apple', 'Grapes'] 5

In [27]:
# Exercise

my_list = [12, 10, 13, 4, 1, 5]
my_list_2 = [6, 1, 7, 8, 10]

my_list_3 = my_list + my_list_2

print(my_list_3)

sorted_list = sorted(my_list_3)
print("Sorted list is ", sorted_list)
n = len(sorted_list)

# Median of my_list
median = (sorted_list[n // 2] + sorted_list[n // 2 - 1]) / 2 if n % 2 == 0 else sorted_list[n // 2]
print("Median of my_list is ", median)

# Q1
Q1 = (sorted_list[n // 4] + sorted_list[(n // 4) - 1]) / 2 if n % 4 == 0 else sorted_list[n // 4]
print("Q1 of my_list is ", Q1)

# Q3
Q3 = (sorted_list[3 * n // 4] + sorted_list[3 * n // 4 - 1]) / 2 if n % 4 == 0 else sorted_list[3 * n // 4]
print("Q2 of my_list is ", Q3)

[12, 10, 13, 4, 1, 5, 6, 1, 7, 8, 10]
Sorted list is  [1, 1, 4, 5, 6, 7, 8, 10, 10, 12, 13]
Median of my_list is  7
Q1 of my_list is  4
Q2 of my_list is  10

In [28]:
response_code = 203

match response_code:
    case 200:
        print("OK")
    case 201:
        print("Created")
    case 404:
        print("404 Not Found")
    case 500:
        print("Internal Server Error")
    case _:
        print("Somthing Else")

Somthing Else

In [29]:
number = [4, 5, 7]

match number:
    case [x, y]:
        print(x * y)
    case [x, y, z]:
        print(x + y + z)
    case _:
        print("The list not contain correct value")

16

In [30]:
example = [1,6]

match example.__len__():
    case 1:
        print("The list contain only one element")
    case 2:
        print("The list contain two elements")
    case 0:
        print("The list is empty")
    case _:
        print("Somthing else")

The list contain two elements

In [31]:
fruits = ["apple", "banana", "cherry"]

for fruit in fruits:
    print(fruit)

apple
banana
cherry

In [32]:
numbers = [7, 5, 8, 4, 9, 12]

squre_numbers = []
for number in numbers:
    squre_numbers.append(number ** 2)

print(squre_numbers)

[49, 25, 64, 16, 81, 144]

In [33]:
user_input = int(input("Enter a input: "))
get_numbers = []

for number in range(1, user_input + 1):
    get_numbers.append(number ** 2)

print(get_numbers)

ValueError: invalid literal for int() with base 10: ''

In [ ]:
numbers = [2, 12, 9, 8]

result = [number ** 2 for number in numbers]

print(result)

[4, 144, 81, 64]

In [ ]:
numbers = [8, 12, -1, 5, 4, 0, -8]

result = [number for number in numbers if number > 0]

print(result)

[8, 12, 5, 4]

In [ ]:
user_input = int(input("Enter a input: "))

squre_numbers = []
x = 1

while x ** 2 <= user_input:
    squre_numbers.append(x ** 2)
    x = x + 1
    
print(squre_numbers)

[1, 4, 9, 16, 25]

In [ ]:
my_list = [8, 9, 3, 0, 12, 15]

for item in my_list:
    if item == 0:
        break
    else:
        print(item)

8
9
3

In [ ]:
my_list = [8, 9, 3, 0, 12, 15]

for item in my_list:
    if item == 0:
        continue
    else:
        print(item)

8
9
3
12
15

In [ ]:
while True:
    user_input = int(input("Enter a input: "))
    if user_input == 0:
        break
    else:
        print(user_input ** 2)

100
25
64
81

In [ ]:
personal = {
    "Name": "Kavindu",
    "Age": 21,
}

for key in personal:
    print(key, ":" , personal[key])

Name : Kavindu
Age : 21

In [ ]:
def calculate_circunfurance(width, height):
    return width * height

calculate_circunfurance(10, 20)

200

In [ ]:
def calculate_area(radius):
    return 3.14 * radius ** 2

calculate_area(5)

78.5

In [ ]:
def add_numbers(a, b = 5):
    return a + b

add_numbers(5)

10

In [ ]:
def add_numbers(a , c, b = 5):
    return a + b

add_numbers(70,25,25)

# default arguments must follow non-default arguments.
# This means that you cannot have a parameter with a default value (c = 2) before a parameter without a default value (b).

95

In [ ]:
# Positional Arguments
def calculate_number(a ,b ):
    return a + b

calculate_number(10, 50)

60

In [ ]:
def add_numbers(a, b):
    return a + b

add_numbers(b = 5, a = 2)

In [ ]:
def calculate_cost(price, quantity, discount, tax_rate):
    return price * quantity * (1 - discount) * (1 + tax_rate)

print("Total cost : ", calculate_cost(500, 10, 0.1, 0.05))

Total cost :  4725.0

In [ ]:
mg_str = '''1. This is a multiline string,
2. This is a multiline string,
3. This is a multiline string,'''
            
print(mg_str)

1. This is a multiline string,
2. This is a multiline string,
3. This is a multiline string,

In [ ]:
my_str = "Hello, World!"
print(len(my_str))
print(my_str[4])
print(my_str[2:8])

13
o
llo, W

In [4]:
# Write a  pytho function called "summerise_grades" that accept a student name as a mandatory arguments and an abitary number of grade scores.the function should , 
# 1. print the students name
# 2. calculate and print the highest grade lowest grade and the avarage grade from the provided scores
# 3. If no grades are provided you should print no grades available

def summerise_grades(student_name, *grades):
    print(f"Student Name: {student_name}")
    
    if grades:
        highest_grade = max(grades)
        lowest_grade = min(grades)
        average_grade = sum(grades) / len(grades)
        
        print(f"Highest Grade: {highest_grade}")
        print(f"Lowest Grade: {lowest_grade}")
        print(f"Average Grade: {average_grade:.2f}")
    else:
        print("No grades available")

summerise_grades("Kavindu Malshan", 85, 92, 78, 90)
print("")
summerise_grades("Kavindu")

Student Name: Kavindu Malshan
Highest Grade: 92
Lowest Grade: 78
Average Grade: 86.25

Student Name: Kavindu
No grades available

In [35]:
def arbitrary_keyword_arguments(**kwargs):
    print(kwargs, type(kwargs))
    for key, value in kwargs.items():
        print(f"{key}: {value}")
        
arbitrary_keyword_arguments(name = "Kavindu", age = 21, country = "Sri Lanka")

{'name': 'Kavindu', 'age': 21, 'country': 'Sri Lanka'} <class 'dict'>
name: Kavindu
age: 21
country: Sri Lanka

In [ ]:
# Write a python function called "employee_info" that accept a required 'name' parameter and an arbitrary number of keyword arguments representing aditional details about the employee. 
# The function should print the employee name 
# iterate through the keyword arguments and print each key-value pair in the format "key: value" 
# Modify the employee info function to return a dictionary containing all the employee details (including name and the additional attributes past via kwargs).

def employee_info(name, **kwargs):
    print(f"Employee Name: {name}")
    for key, value in kwargs.items():
        print(f"{key}: {value}")
    
    employee_details = {"name": name}
    employee_details.update(kwargs)
    return employee_details

info = employee_info("Kavindu Malshan", age=21, department="HR", location="Galle")
print(info)

Employee Name: Kavindu Malshan
age: 21
department: HR
location: Galle
{'name': 'Kavindu Malshan', 'age': 21, 'department': 'HR', 'location': 'Galle'}

In [40]:
abs(-5)

5

In [42]:
def cal_square(n):
    return n ** 2

mg_list = [5, 8, 9, 12, 15]
result = map(cal_square, mg_list)
print(result, type(result))
print(list(result))

<map object at 0x00000238ACB2EA10> <class 'map'>
[25, 64, 81, 144, 225]